.addEventWrapper {
  padding: 10px;
  background-color: #ddd;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.addEventTextField {
}

.currentBoutWrapper {
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
}

.redStats {
  background-color: #a20;
}
.blueStats {
  background-color: #1976d2;
}
