.trackerRow {
  display: flex;
  /* width: 50%; */
  justify-content: space-evenly;
}
.trackerRow div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trackerBtn:hover {
  background-color: beige;
  cursor: pointer;
}

.trkRowLayout {
  margin: 5px 0px;
}

.blankItem {
  width: 30px;
}
.targetName {
  width: 60px;
}

.trackerBtn {
  /* flex-grow: 1; */
  min-width: 50%;
  height: 100px;
  border: 1px solid #000;
  border-radius: 20px;
}
